
html, body {
    margin:0;
}
body, input, button {
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    color: #222;
}
a {
    color:#222;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.mainbody {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.topbar {
    display: flex;
    align-items: center;
    padding: 6px;
}
.topleft:first-of-type{
    margin-left: 15px;
}
.topleft {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
}
.topright {
    flex-grow: 1;
}
.gm_im {
    padding-left: 15px;
}
.app button{
    
    background-color: transparent;
    border: transparent;
    opacity: 0.6;
    margin:0;
    padding-left:7px;
}
.apps{
    Padding: 8px;
}
.apps:hover {
    background-color:#dfdbdb;
    border-radius: 50%;
}
.profilepic{
    border-radius: 50%;
    height: 45px;
}
.googlelogo {
    margin: 0 auto;
}
#searchbardiv {
    margin: 20px auto;
}
.searchbar {
    margin: 20px auto;
    padding: 1em;
    padding-left: 6%;
    border: 1px solid rgb(206, 206, 206) ;
    border-radius: 20px;
    grid-area: bar;
}
input {
    background-color: transparent;
    Width: 600px;
    height: 40px;
    box-sizing: border-box;
    border: none;
}
.searchbar:hover {
    box-shadow: 0px 0px 5px grey;
}
input:focus{
   outline: 0; 
   opacity: 1;
}
#microphone{
    height: 17.5px;
    position: absolute;
    top: 31px;
    right: 2.5%
}
#maglass{
    height: 17.5px;
    position: absolute;
    top: 31px;
    left: 2%;
    background:white;
    border-radius: 40%;
}
form{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "bar bar bar bar"
    ". btn1 btn2 .";
}
#btn1 {
 grid-area:btn1;
}
#btn2 {
    grid-area:btn2;
}
.searchbtn {
    padding: 0 16px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}
  .searchbtn:hover{
    box-shadow: 0px 0px 3px grey ;
}
.footer {
    width: 100%;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
}
ul {
    margin:0;
    padding: 0px 20px;
    list-style-type: none;
    
}
li {
    float: left;
    padding: 15px;
}
li > a {
    color: #70757a;
} 
#carb {
    padding-left: 250px;
    padding-right: 350px;
}


